<style>
  .fundoNavBar{
    background-color: rgba(0, 0, 0, 0.349);
  }
  .fundoTabela{
    background-color: rgb(255, 0, 0);
  }
  .wrapper{
    position: relative;
  }
  #infoi {
  position: absolute;
  top: 0;
  right: 0;
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top fundoNavBar" id="infoi">
  <div class="container">
      <a class="navbar-brand" routerLink="home"><img src="assets/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link" href="#veiculo" routerLink="veiculo">Veiculos</a></li>
              <li class="nav-item"><a class="nav-link" href="#cliente" routerLink="cliente">Clientes</a></li>
              <li class="nav-item"><a class="nav-link" href="#agendamento" routerLink="agendamento">Agendamentos</a></li>
          </ul>
      </div>
  </div>
</nav>
<br>
<br>
<br>
<div id="infoi">
  <img class="img-fluid" src="assets/banne.png" alt="">
</div>

<div class="container wrapper">
    <router-outlet></router-outlet>
</div>

