<style>
  .fundoNavBar{
    background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(114,113,140,1) 51%, rgba(46,46,46,1) 99%);
  }
  .fundoTabela{
    background-color: rgb(255, 0, 0);
  }
  .wrapper{
    position: relative;
  }
  #infoi {
  position: absolute;
  top: 0;
  right: 0;
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark " id="infoi">
  <div class="container">
      <a class="navbar-brand" href="#page-top"><h5>Locação</h5></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link" href="#veiculos" routerLink="veiculo">Veiculos</a></li>
              <li class="nav-item"><a class="nav-link" href="#cliente" routerLink="cliente">Clientes</a></li>
              <li class="nav-item"><a class="nav-link" href="#agendamento" routerLink="agendamento">Agendamentos</a></li>
          </ul>
      </div>
  </div>
</nav>
<br>
<br>
<br>
<div id="infoi">
  <img class="img-fluid" src="assets/banne.png" alt="">
</div>

<div class="container wrapper">

  <body style="background-color: rgb(36, 35, 35);">
    <router-outlet></router-outlet>
  </body>

</div>


<br>
<br>
<br>
<footer style="background-color: rgb(36, 35, 35);" class="footer py-4 bottom">
  <div class="container">
      <div class="row align-items-end">
          <div class="col-lg-4 text-lg-start">Copyright &copy; Locação 2021</div>
          <div class="col text-lg-end">
            <a class="link-dark text-decoration-none me-3" href="#!">Políticas de Privacidade </a>
            <a class="link-dark text-decoration-none" href="#!">Termos de Uso</a>
          </div>
      </div>
  </div>
</footer>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#veiculos" routerLink="veiculo">Veiculos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#cliente" routerLink="cliente">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#agendamento" routerLink="agendamento">Agendamentos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>-->
