<div class="col-md-12">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>
          Veiculos | ID: {{this.service2.formData.veiculoFk}}
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let vc of service.list">
      <div *ngFor="let tp of service2.listaTp">
        <tr *ngIf="vc.tipoFk == tp.tipoId; else elseTipo">

          <td *ngIf="vc.tipoFk == this.service2.formTp.tipoId">
            <div *ngIf="vc.tipoFk == this.service2.formTp.tipoId">
              {{tp.tipo}}
            </div>
          </td>

          <!-- FINALIZADA DIA 10-11-2021 -->
          <td *ngIf="vc.tipoFk == this.service2.formTp.tipoId">
            <div *ngIf="vc.tipoFk == this.service2.formTp.tipoId">
              <div (click)="populateForm(vc)">
                <label class="btn btn-warning">
                  <i class="far fa-hand-pointer">
                    <label style="color: rgba(255, 255, 255, 0);">{{vc.veiculoId}}
                    </label>
                  </i>
                </label>
              </div>
            </div>
          </td>
          <!-- ----------------------------------------------------------------------------- -->

          <td *ngIf="vc.tipoFk == this.service2.formTp.tipoId">
            <div *ngIf="vc.tipoFk == this.service2.formTp.tipoId">
              {{vc.nome}}
            </div>
          </td>

          <td *ngIf="vc.tipoFk == this.service2.formTp.tipoId">
            <div *ngIf="vc.tipoFk == this.service2.formTp.tipoId">
              {{vc.imgUrl}}
            </div>
          </td>

          <td *ngIf="vc.tipoFk == this.service2.formTp.tipoId">
            <div *ngIf="vc.tipoFk == this.service2.formTp.tipoId">
              {{vc.disponibilidade}}
            </div>
          </td>

        </tr>
        <ng-template #elseTipo>

        </ng-template>
      </div>
    </tbody>
  </table>
</div>
