<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Veiculos</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <form novalidate autocomplete="off" #formVeiculo="ngForm" (submit)="onSubmit(formVeiculo)">
      <input type="hidden" name="veiculoId" [value]="service.formData.veiculoId" />
      <div class="form-group">
          <label>Tipo</label>
          <input class="form-control form-control-lg" placeholder="Tipo Veiculo" name="tipoFk"
              #tipoFk="ngModel" [(ngModel)]="service.formData.tipoFk"
              required [class.invalid]="tipoFk.invalid && tipoFk.touched">
      </div>
      <div class="form-group">
        <label>Nome Veículo</label>
        <input class="form-control form-control-lg" placeholder="" name="nome"
            #nome="ngModel" [(ngModel)]="service.formData.nome"
            required [class.invalid]="nome.invalid && nome.touched">
    </div>
    <div class="form-group">
      <label>Placa</label>
      <input class="form-control form-control-lg" placeholder="" name="placa"
          #placa="ngModel" [(ngModel)]="service.formData.placa"
          required [class.invalid]="placa.invalid && placa.touched">
  </div>
  <div class="form-group">
    <label>Ano</label>
    <input class="form-control form-control-lg" placeholder="Qual o Tipo de Veiculo?" name="ano"
        #ano="ngModel" [(ngModel)]="service.formData.ano"
        required [class.invalid]="ano.invalid && ano.touched">
</div>
<div class="form-group">
  <label>Tipo Combustível</label>
  <input class="form-control form-control-lg" placeholder="Qual o Tipo de Veiculo?" name="tipoCombustivel"
      #tipoCombustivel="ngModel" [(ngModel)]="service.formData.tipoCombustivel"
      required [class.invalid]="tipoCombustivel.invalid && tipoCombustivel.touched">
</div>
<div class="form-group">
  <label>imgURL</label>
  <input class="form-control form-control-lg" placeholder="Qual o Tipo de Veiculo?" name="imgUrl"
      #imgUrl="ngModel" [(ngModel)]="service.formData.imgUrl"
      required [class.invalid]="imgUrl.invalid && imgUrl.touched">
</div>
<div class="form-group">
  <label>Disponibilidade</label>
  <input class="form-control form-control-lg" placeholder="" name="disponibilidade"
      #disponibilidade="ngModel" [(ngModel)]="service.formData.disponibilidade"
      required [class.invalid]="disponibilidade.invalid && disponibilidade.touched">
</div>
<div class="form-group">
<label>Decrição</label>
<input class="form-control form-control-lg" placeholder="" name="descricao"
    #descricao="ngModel" [(ngModel)]="service.formData.descricao"
    required [class.invalid]="descricao.invalid && descricao.touched">
</div>
      <div class="form-group">
          <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="formVeiculo.invalid">Agendar</button>
      </div>
  </form>
  </div>
  <!-- ----------------------------- -->
  <div class="col-md-6">
      <table class="table">
          <thead class="thead-light">
              <tr>
                  <th>Tipo</th>
                  <th>Nome</th>
                  <th>Placa</th>
                  <th>Ano</th>
                  <th>Tipo Combustível</th>
                  <th>Imagem</th>
                  <th>Disponibilidade</th>
                  <th>Descrição</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let vc of service.list">
                  <td (click)="populateForm(vc)">{{vc.tipoFk}}</td>
                  <td (click)="populateForm(vc)">{{vc.nome}}</td>
                  <td (click)="populateForm(vc)">{{vc.placa}}</td>
                  <td (click)="populateForm(vc)">{{vc.ano}}</td>
                  <td (click)="populateForm(vc)">{{vc.tipoCombustivel}}</td>
                  <td (click)="populateForm(vc)">{{vc.imgUrl}}</td>
                  <td (click)="populateForm(vc)">{{vc.disponibilidade}}</td>
                  <td (click)="populateForm(vc)">{{vc.descricao}}</td>
                  <td>
                      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(vc.veiculoId)"></i>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
