<br>
<br>
<div class="text-center" style="color: white;background-color: rgba(10, 10, 10, 0.521);border-radius: 265rem;">
    <div class="container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3  class="masthead-brand">Lengendary MotorSports</h3>
          <nav class="nav nav-masthead justify-content-center">
          </nav>
        </div>
      </header>
      <main role="main" class="inner cover">
        <h1  class="cover-heading">Bem vindo.</h1>
        <p  class="lead">Esta é a sua central de locação de veículos</p>
        <p  class="lead">
          <button type="button" class="btn btn-lg btn-danger"><a style="color: rgb(255, 255, 255)" class="btn-link" [routerLink]="['/agendamento']">Faça um Agendamento</a></button>
        </p>
     </main>
</div>

