.form-group label {
  color: grey;
}

.fundoJumb{
  background-color: #ff1100;
}

.TextJumb{
  color: #ffffff;
}

.form-group input {
  font-weight: 500;
}

.form-group input::placeholder {
  color: #c0bdbd;
  font-weight: 300;
}

thead th{
  font-weight: 400;
}

.table td:hover {
  background-color: #940000;
  cursor: pointer;
}

/*for invalid form controls*/
input.invalid {
  border-color: red;
}

